.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 500px;
    overflow: hidden;
    padding: 10px 20px;
    background-color: @bg-color5;
    border-top: 1px solid lighten(@bg-color5, 6%);

    .buttons {
        margin-right: 20px;
        white-space: nowrap;

        .button {
            fill: @text-color1;
            background-color: transparent;
            padding: 0;
            margin: 0 2px 0 0;
            display: inline-block;
            flex-wrap: nowrap;
            border: 2px solid lighten(@bg-color2, 10%);
            height: 40px;
            width: 40px;
            border-radius: 20px;
            line-height: 36px;
            text-align: center;
            vertical-align: middle;
            transition: all 0.2s;

            &:hover {
                border: 2px solid @color1;
            }

            &:active {
                border-color: @text-color1;
            }
        }
    }

    .play-button {
        .icon svg {
            width: 36px;
            height: 36px;
            margin-left: 2px;
        }
    }

    .pause-button {
        .icon svg {
            width: 24px;
            height: 24px;
            margin: 6px;
        }
    }

    .stop-button {
        .icon svg {
            width: 24px;
            height: 24px;
            margin: 6px;
        }
    }

    .toggle-button {
        font-size: 20px;
        line-height: 36px;
        margin: 0 3px;

        .icon svg {
            fill: @bg-color1;

            &:hover {
                fill: lighten(@bg-color1, 10%);
            }
        }
    }

    .toggle-button-on {
        .icon svg {
            fill: @color1;

            &:hover {
                fill: @color1;
            }
        }
    }

    .volume {
        display: flex;
        margin-right: 20px;

        .slider {
            display: flex;
            align-items: center;
            width: 100px;
            margin-right: 8px;
        }

        .speaker {
            margin-right: 10px;

            .icon svg {
                fill: @text-color1;
                width: 20px;
                height: 20px;
            }
        }
    }

    .progress {
        display: flex;
        align-items: center;
        margin-right: 20px;
        flex: 1;
    }

    .time-info {
        line-height: 36px;
        margin-right: 20px;
        white-space: nowrap;

        .time-part {
            vertical-align: middle;
        }

        .current-time {
            color: @text-color1;
        }

        .total-time {
            color: @text-color2;
        }

        .split {
            display: inline-block;
            height: 30px;
            border-right: 1px solid @color1;
            margin: 0 8px;
            transform: rotate(20deg);
        }

        &:hover {
            cursor: default;
        }
    }
}

.waveform {
    min-width: 900px;
    position: relative;
    background-color: @bg-color5;
    border-top: 1px solid lighten(@bg-color5, 6%);
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
    max-height: 200px;
    transition: max-height .2s ease-out;
    overflow: hidden;

    .canvas {
        margin: 20px auto;
        display: block;
    }
}

.waveform-hidden {
    max-height: 0;
    transition: max-height .2s ease-in;
}

.oscilloscope {
    min-width: 900px;
    position: relative;
    background-color: @bg-color5;
    padding-bottom: 10px;

    .canvas {
        display: block;
        margin: 0 auto;
        border: 1px solid lighten(@bg-color5, 6%);
        box-shadow: inset 0 0 40px rgba(0,0,0,0.5);
    }
}

.spectrum {
    min-width: 900px;
    position: relative;
    background-color: @bg-color5;
    padding-bottom: 10px;

    .canvas {
        display: block;
        margin: 0 auto;
        border: 1px solid lighten(@bg-color5, 6%);
        box-shadow: inset 0 0 40px rgba(0,0,0,0.5);
    }
}