.darwin {
    .titlebar {
        border-bottom: 2px solid @bg-color3;

        .icon {
            display: none;
        }

        .window-buttons {
            display: none;
        }
    }

    .menubar {
        display: none;
    }
}