@import (reference) 'view/styles/variables';

:global {
  html,
  body {
    font-family: @font-family;
    font-size: @font-size-normal;
    color: @color-text100;
    background-color: @background-color;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  canvas {
    display: block;
  }

  ::selection {
    color: @color-text100;
    background-color: @color-primary100;
  }

  #app {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
  }
}
