.absolute-center() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.off-screen() {
  position: absolute;
  left: 100%;
  bottom: -100%;
  z-index: -1;
}

.hidden() {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  z-index: -1;
}
