@import (reference) 'view/styles/variables';

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: @scrollbar-bg-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @color-gray600;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: @scrollbar-bg-color;
}

::-webkit-resizer {
  background: @scrollbar-bg-color;
}
