{
  "presets": [
    ["@babel/env", {
      "targets": {
        "electron": "8.2.0"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-export-default-from"
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "electron": "8.2.0"
          }
        }],
        "@babel/react"
      ],
      "plugins": [
        "@babel/transform-runtime",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-optional-chaining",
        "@babel/proposal-nullish-coalescing-operator",
        "@babel/proposal-export-default-from"
      ]
    }
  }
}
