{
  "presets": [
    "es2015-node6",
    "react"
  ],
  "env": {
    "production": {
      "presets": ["babili"],
      "comments": false,
      "compact": true,
      "minified": true
    }
  },
  "plugins": [
    ["transform-runtime", {"polyfill": false}]
  ]
}