{
  "presets": [
    ["@babel/env", {
      "targets": {
        "electron": "4.0.8"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "electron": "4.0.8"
          }
        }],
        "@babel/react"
      ],
      "plugins": [
        "@babel/transform-runtime",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
      ]
    }
  }
}
