# Common
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
*.swp
*.log

# Environment
.idea
.vscode
*.iml

# Project
node_modules
bin
dist
build/resources
app/browser
app/main.js
app.config
*.bat
*.map
