@import (reference) '~styles/index.less';

.volume {
  display: flex;
  margin-right: 20px;
}

.slider {
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 8px;
}

.speaker {
  margin-right: 10px;

  .icon {
    color: @text-color1;
    width: 20px;
    height: 20px;
  }
}
