@import (reference) "~styles/index.less";

.button {
    color: @text-color1;
    min-height: 24px;
    min-width: 24px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid @border-color;
    background-color: @bg-color2;
    border-radius: @input-radius;
    display: inline-block;
    cursor: default;
    flex-shrink: 0;

    &:hover {
        background-color: @color1;
    }
}

.icon {
    display: inline-block;
    color: @text-color1;
    width: 12px;
    height: 12px;
    line-height: 24px;
}

.active {
    background-color: @color1;
}

.disabled {
    color: darken(@text-color1, 60%);

    &:hover {
        background-color: @bg-color2;
    }
}

.text {
    margin: 0 5px;
}
