@import (reference) "../../styles/index.less";

.input {
    position: relative;
    height: 22px;
    flex: 1;
}

.track {
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background: lighten(@bg-color2, 10%);
    position: absolute;
    margin: 8px 0;
}

.fill {
    pointer-events: none;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background: @color1;
    .position-left();
}

.range {
    pointer-events: none;
    .position-center();

    &::-webkit-slider-thumb {
        pointer-events: all;
    }
}
