@import (reference) "~styles/index.less";

.reactor {
    position: relative;
    display: flex;
    flex-direction: row;
}

.meter {
    background-color: @bg-color2;
    border: 1px solid @border-color;
    border-radius: @input-radius;
    padding: 5px;
}

.icon {
    position: absolute;
    top: 10px;

    svg {
        fill: @text-color3;
        width: 16px;
        height: 16px;

        &:hover {
            fill: @text-color1;
        }
    }
}

.editIcon {
    margin: 5px 0 0 8px;

    svg {
        fill: @text-color3;
        width: 12px;
        height: 12px;

        &:hover {
            fill: @text-color1;
        }
    }
}

.hidden {
    display: none;
}