@import (reference) "~styles/index.less";

.select {
    display: inline-block;
    position: relative;

    &:after {
        content: "\0020";
        transform: rotate(135deg);
        position: absolute;
        top: 7px;
        right: 7px;
        height: 5px;
        width: 5px;
        border-top: 1px solid @color1;
        border-right: 1px solid @color1;
        pointer-events: none;
    }

    .input {
        &:read-only {
            color: @text-color1;
        }
    }
}

.input {
    composes: text from './TextInput.less';
}

.options {
    position: absolute;
    top: 22px;
    z-index: 1;
    list-style: none;
    background-color: @bg-color2;
}

.option {
    font-size: @font-small;
    padding: 5px;
    min-width: 100px;

    &:hover {
        cursor: default;
        background-color: @color1;
    }
}

.separator {
    height: 5px;

    &:after {
        content: "\0020";
        border-top: 1px solid @color1;
        display: block;
    }

    &:hover {
        background-color: transparent;
    }
}

.hidden {
    display: none;
}