@import (reference) '~styles/index.less';

.text {
  font-size: @font-small;
  color: @text-color1;
  line-height: 20px;
  background-color: @bg-color2;
  border: 1px solid @border-color;
  border-radius: @input-radius;
  padding: 0 3px;
  outline: none;

  &:focus {
    border: 1px solid @color1;
  }

  &:read-only {
    border-color: @border-color;
  }

  &:disabled {
    border-color: @border-color;
    color: darken(@text-color1, 60%);
  }
}
