@keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.animation(@animation) {
    -webkit-animation: @animation;
    animation: @animation;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}