.flex {
    flex: 1 0 auto;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.blur {
    -webkit-filter: blur(2px);
}

.hidden {
    display: none;
}

.off-screen {
    position: absolute;
    right: 200%;
}