.flex {
    flex: 1 1 0%;
}

.blur {
    -webkit-filter: blur(2px);
}

.center {
    text-align: center;
}

.display-none {
    display: none !important;
}

.off-screen {
    position: absolute;
    left: 100%;
    bottom: -100%;
    z-index: -1;
}

.hidden {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    z-index: -1;
}

.normal-text {
    color: @text-color !important;
}