#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

#body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#viewport {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

#control-dock {
    min-width: 320px;
}

#app-settings {
    width: 720px;
    height: 400px;
}

#canvas-settings {
    width: 500px;
    height: auto;
}

#video-settings {
    width: 640px;
    height: auto;
}