// Style helpers

.size(@width, @height) {
    width: @width;
    height: @height;
}

.absolute-center(@display: block) {
    display: @display;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-left(@display: block) {
    display: @display;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: auto;
}

.absolute-right(@display: block) {
    display: @display;
    position: absolute;
    margin: auto;
    top: 0; left: auto; bottom: 0; right: 0;
}

.flex-box(
    @direction: row,
    @justify-content: flex-start,
    @align-items: center,
    @align-content: stretch,
    @wrap: nowrap
) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify-content;
    align-items: @align-items;
    align-content: @align-content;
    flex-wrap: @wrap;
}