// Fonts
@font-family: 'Roboto', sans-serif;
@font-family-alt: 'Roboto Condensed', sans-serif;
@font-small: 11px;
@font-normal: 12px;
@font-large: 16px;

// Base Colors
@base-color: #7A5FE4; //#8970FF; //#9777FF; //#7B66FF; //#927FFF;
@bg-color: #434343;
@text-color: #f0f0f0;
@border-color: #222;

// Color Levels
@bg-level1-color: darken(@bg-color, 4%); // #393939
@bg-level2-color: darken(@bg-color, 8%); // #2f2f2f
@bg-level3-color: darken(@bg-color, 12%); // #242424
@bg-level4-color: darken(@bg-color, 16%); // #1a1a1a

@text-level1-color: darken(@text-color, 30%); // #a3a3a3

@border-top-color: lighten(@bg-color, 16%); // #6c6c6c
@border-bottom-color: darken(@bg-color, 12%); // #242424
