// Base Colors
@base-color: #7A5FE4; //#8970FF; //#9777FF; //#7B66FF; //#927FFF;
@bg-color: #434343;
@text-color: #f0f0f0;
@border-color: #222;

// Color Levels
@bg-level1-color: darken(@bg-color, 4%); // #393939
@bg-level2-color: darken(@bg-color, 8%); // #2f2f2f
@bg-level3-color: darken(@bg-color, 12%); // #242424
@bg-level4-color: darken(@bg-color, 16%); // #1a1a1a

@text-level1-color: darken(@text-color, 30%); // #a3a3a3
@border-top-color: lighten(@bg-color, 16%); // #6c6c6c
@border-bottom-color: darken(@bg-color, 12%); // #242424

// Fonts
@font-family: 'Roboto', sans-serif;
@font-family-alt: 'Roboto Condensed', sans-serif;
@font-small: 11px;
@font-normal: 12px;
@font-large: 16px;

// Page
@page-bg-color: @bg-level3-color;

// Header
@header-bg-color: @bg-level1-color;
@header-text-color: @text-color;

// Footer
@footer-bg-color: @base-color;
@footer-text-color: @text-color;

// Menu
@menubar-text-color: @text-level1-color;
@menubar-bg-color: @bg-level2-color;
@menubar-active-bg-color: darken(@menubar-bg-color, 6%);
@menu-bg-color: @bg-level4-color;
@menu-border-color: darken(@border-color, 6%);
@menu-group-border-color: @menu-border-color;

// Player
@player-background-color: @bg-level4-color;
@player-border-color: lighten(@bg-level4-color, 6%);

// Window Buttons
@window-btn-text-color: @text-color;
@window-btn-bg-color: @bg-level1-color;
@window-btn-border-color: @border-color;

// Control Dock
@dock-bg-color: @bg-level1-color;

// Control Picker
@picker-item-border-color: lighten(@border-color, 8%);
@picker-item-hover-color: @base-color;

// Layers
@layer-bg-color: @bg-level2-color;
@layer-border-color: @border-color;

// Loading
@loading-light-color: @base-color;
@loading-dark-color: hardlight(@base-color, @bg-level3-color);

// Control
@control-header-text-color: @text-level1-color;
@control-bg-color: @bg-color;
@control-top-border-color: @border-top-color;
@control-bottom-border-color: @border-bottom-color;
@control-row-top-color: lighten(@border-bottom-color, 6%);  // #333
@control-row-bottom-color: darken(@border-top-color, 8%); // #585858

// Splitter
@splitter-bg-color: darken(@bg-level1-color, 3%);

// Input
@input-text-color: @text-color;
@input-bg-color: @bg-level1-color;
@input-border-color: @border-color;
@input-font-size: @font-small;
@input-readonly-color: darken(@text-color, 60%);
@input-range-bg-color: lighten(@bg-level1-color, 10%);
@input-link-color: darken(@text-color, 50%);
@input-link-on-color: darken(@text-color, 10%);
@input-toggle-button-bg-color: @input-text-color;
@input-toggle-border-color: @input-bg-color;

// Modal Window
@modal-header-bg-color: @bg-level1-color;
@modal-bg-color: @bg-color;