// Fonts
@font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
@font-small: 11px;
@font-normal: 12px;
@font-large: 16px;

// Colors
@base-color: #775fd8; //#6F58C9; //#7A5FE4; //#8970FF; //#7B66FF; //#927FFF;
@bg-color: #434343;
@text-color: #f0f0f0;
@border-color: #222;
@border-top-color: lighten(@bg-color, 16%); // #6c6c6c
@border-bottom-color: darken(@bg-color, 12%); // #242424

// Color Levels
@bg-color1: darken(@bg-color, 4%); // #393939
@bg-color2: darken(@bg-color, 8%); // #2f2f2f
@bg-color3: darken(@bg-color, 12%); // #242424
@bg-color4: darken(@bg-color, 16%); // #1a1a1a
@text-color1: darken(@text-color, 30%); // #a3a3a3
@text-color2: darken(@text-color, 50%); // #717171