@import (reference) 'view/styles/variables';

.bar {
  font-size: @font-size-normal;
  color: @color-text200;
  background-color: @color-gray75;
  padding-left: 20px;
  height: 20px;
  position: relative;
}
