@import (reference) 'view/styles/variables';

.item {
  position: relative;
  display: block;
  font-size: @font-size-small;
  padding: 5px 5px 5px 20px;
  min-width: 140px;

  &:hover {
    color: @color-text100;
    background-color: @color-primary100;
    cursor: default;
  }
}

.checked {
  &:before {
    content: '\2713';
    color: @color-primary100;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &:hover:before {
    color: @color-text100;
  }
}

.disabled {
  color: @color-text300;

  &:hover {
    color: @color-text300;
    background-color: transparent;
  }
}
