@import (reference) 'view/styles/variables';

.bar {
  position: relative;
  font-size: @font-size-normal;
  color: @color-text400;
  background-color: @color-gray75;
  padding: 0 20px;
  -webkit-app-region: no-drag;
}

.focused {
  color: @color-text300;
}
