@import (reference) 'view/styles/variables';

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: @color-gray100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: @z-index-menu;
}

.separator {
  padding: 5px;

  &:after {
    content: '';
    border-top: 1px solid @color-primary100;
    display: block;
  }

  &:hover {
    background-color: transparent;
  }
}

.hidden {
  display: none;
}
