@import (reference) 'view/styles/variables';

.item {
  display: inline-block;
  position: relative;
}

.text {
  line-height: 20px;
  vertical-align: middle;
  padding: 0 8px;
  position: relative;

  &.active {
    color: @color-primary100;
    background-color: darken(@color-gray100, 6%);
  }

  &:hover {
    cursor: default;
    color: @color-primary100;
  }
}
