@import (reference) '~view/styles/variables';

.menu {
  position: absolute;
  top: 20px;
  left: 0;
  list-style: none;
  background-color: darken(@bg-color3, 6%);
  border: 1px solid darken(@border-color, 6%);
  overflow: hidden;
  z-index: 100;
}

.separator {
  padding: 5px;

  &:after {
    content: '\0020';
    border-top: 1px solid @color1;
    display: block;
  }

  &:hover {
    background-color: transparent;
  }
}

.hidden {
  display: none;
}
