.control-dock {
    background-color: @dock-bg-color;
    width: 320px;
    z-index: 100;
    display: flex;
    flex-direction: column;

    .title {
        font-size: @font-small;
        padding: 10px;
        color: @text-level1-color;
        cursor: default;
    }
}