.control-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 660px;
    padding: 10px;

    .item {
        margin: 0 5px 20px 5px;
    }

    .image {
        border: 1px solid lighten(@border-color, 8%);
        border-radius: 5px;
        height: 100px;
        width: 100px;
    }

    .image:hover {
        border-color: @base-color;
    }

    .name {
        font-size: @font-small;
        text-align: center;
        margin: 5px 0;
    }
}