.control-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
        border: 1px solid lighten(@border-color, 8%);
        border-radius: 5px;
        height: 100px;
        width: 100px;
        cursor: pointer;
    }

    .item:hover {
        border-color: @base-color;
    }

    .icon {
        font-size: @font-large;
        text-align: center;
        margin: 0 auto;
    }

    .name {
        font-size: @font-small;
        text-align: center;
        margin: 5px 0;
    }
}