#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

#app {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

#body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#viewport {
    display: flex;
    flex-direction: column;
    flex: 1;
}