#footer {
    color: @footer-text-color;
    background-color: @footer-bg-color;
    font-size: 10px;
    padding: 10px;
    z-index: 1;

    .version {
        text-align: right;
    }

    .flex-box(row, flex-start, stretch, stretch);
}