#footer {
    color: @text-color;
    background-color: @base-color;
    font-size: 10px;
    padding: 10px;
    z-index: 1;

    .version {
        text-align: right;
    }

    .flex-box(row, flex-start, stretch, stretch);
}