#footer {
    display: flex;
    flex-direction: row;
    color: @text-color;
    background-color: @base-color;
    font-size: 10px;
    padding: 10px 0;
    z-index: 1;
    cursor: default;
    white-space: nowrap;

    .left {
        text-align: left;
        margin-left: 20px;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
        margin-right: 20px;
    }
}