#header {
    height: 40px;
    background-color: @bg-level1-color;
    z-index: 1;

    .title {
        font-size: @font-normal;
        color: @text-level1-color;
        line-height: 35px;
        letter-spacing: 5px;
        text-align: center;
        cursor: default;
        margin: 5px 5px 0 5px;
        -webkit-app-region: drag;
    }

    .icon {
        position: absolute;
        top: 5px;
        left: 5px;
        /*
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid @base-color;
        */
    }
}