#header {
    height: 40px;
    background-color: @bg-color1;

    .title {
        font-size: @font-normal;
        color: @text-color1;
        line-height: 30px;
        letter-spacing: 5px;
        text-align: center;
        cursor: default;
        margin: 5px 5px 0 5px;
        -webkit-app-region: drag;
    }

    .icon {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .window-buttons {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 0;
        background-color: @bg-color1;
        -webkit-app-region: no-drag;

        .button {
            display: inline-block;
            color: @text-color;
            font-size: 14px;
            width: 30px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            vertical-align: middle;
            border-right: 1px solid @border-color;
            border-bottom: 1px solid @border-color;

            &:first-child {
                border-left: 1px solid @border-color;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-bottom-right-radius: 5px;
            }

            &:hover {
                background-color: @base-color;
            }
        }
    }
}