.input-field {
    font-size: @font-small;
    color: @text-color1;
    line-height: 20px;
    background-color: @bg-color2;
    border: 1px solid @border-color;
    border-radius: @input-radius;
    padding: 0 3px;
    outline: none;

    &:focus {
        border: 1px solid @color1;
    }

    &:read-only {
        border-color: @border-color;
        color: darken(@text-color1, 60%);
    }

    &.fill {
        width: 100%;
    }
}

.input-hidden {
    color: transparent !important;
    -webkit-user-select: none;
}

.input-select {
    display: inline-block;
    position: relative;

    .input-field {
        color: @text-color1;

        &:focus {
            border: 1px solid @color1;
        }
    }

    &:after {
        content: "\0020";
        transform: rotate(135deg);
        position: absolute;
        top: 7px;
        right: 7px;
        height: 5px;
        width: 5px;
        border-top: 1px solid @color1;
        border-right: 1px solid @color1;
        pointer-events: none;
    }
}

.input-options {
    position: absolute;
    top: 22px;
    z-index: 1;
    list-style: none;
    background-color: @bg-color2;

    .input-option {
        font-size: @font-small;
        padding: 5px;
        min-width: 100px;

        &:hover {
            cursor: default;
            background-color: @color1;
        }
    }

    .separator {
        height: 5px;

        &:after {
            content: "\0020";
            border-top: 1px solid @color1;
            display: block;
        }

        &:hover {
            background-color: transparent;
        }
    }
}

.input-color {
    &::-webkit-color-swatch-wrapper {
    }

    &::-webkit-color-swatch {
        border: 0;
    }
}

.input-color-range {
    display: flex;
    flex-direction: row;
    align-items: center;

    .color-range {
        position: relative;
        height: 16px;
        border: 1px solid @border-color;
        border-radius: 3px;
    }
}

.input-range {
    position: relative;
    height: 20px;
    width: 100%;

    &>.track {
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: lighten(@bg-color2, 10%);
        position: absolute;
        margin: 8px 0;
    }

    &>.fill {
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: @color1;
        .absolute-left();
    }

    &>.range {
        background-color: transparent;
        .absolute-center();
    }
}

.input-dual-range {
    position: relative;
    height: 22px;
    flex: 1;

    &>.track {
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: lighten(@bg-color2, 10%);
        position: absolute;
        margin: 8px 0;
    }

    &>.fill {
        pointer-events: none;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: @color1;
        .absolute-left();
    }

    .input-range {
        pointer-events: none;
        .absolute-center();

        .range::-webkit-slider-thumb {
            pointer-events: all;
        }
    }
}

.input-toggle {
    position: relative;
    height: 17px;
    width: 32px;
    border-radius: 17px;
    background-color: @bg-color2;
    border: 1px solid @border-color;
    transition: background-color 0.25s;

    &:before {
        content: "\0020";
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: @text-color1;
        border: 1px solid lighten(@border-color, 20%);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        transition: left 0.25s;
        .absolute-left();
    }
}

.input-toggle-on {
    background-color: @color1;

    &:before {
        left: 15px;
    }
}

.input-image {
    height: 100px;
    width: 100px;
    background-color: @bg-color2;
    border: 1px solid @border-color;
    border-radius: @input-radius;
    position: relative;
    overflow: hidden;

    .portrait {
        width: 100%;
        height: auto;
    }

    .landscape {
        width: auto;
        height: 100%;
    }

    .image {
        width: 100%;
        height: auto;
        .absolute-center();
    }
}

.input-image-icon {
    fill: @text-color1;
    height: 24px;
    width: 24px;
    opacity: 0;
    text-shadow: 1px 1px 8px #000;
    transform: scale(0.5,0.5);
    transition: all 0.25s;
    .absolute-center();

    &:hover {
        opacity: 1;
        transform: scale(1,1);
    }
}

.input-link {
    margin-left: 8px;
    fill: darken(@text-color1, 50%);
    width: 12px;
    height: 12px;
}

.input-link-on {
    fill: darken(@text-color1, 10%);
}

.input-file {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 1;
}

.input-list {
    min-width: 200px;
}

.input-button {
    color: @text-color1;
    padding: 0 5px;
    line-height: 20px;
    min-width: 20px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid @border-color;
    background-color: @bg-color2;
    border-radius: @input-radius;
    display: inline-block;
    cursor: default;

    .icon {
        fill: @text-color1;
        width: 12px;
        height: 12px;
    }

    &:hover {
        background-color: @color1;
    }
}

.input-button-active {
    background-color: @color1;
}

.input-button-disabled {
    color: darken(@text-color1, 60%);

    &:hover {
        background-color: @bg-color2;
    }
}

.icon-button-text {
    margin: 0 5px;
}

.input-normal-text {
    color: @text-color1 !important;
}

.input-button-group {
    margin-right: 5px;

    .input-button {
        margin-right: 0;
        border-right: 0;
        border-radius: 0;

        &:first-child {
            border-top-left-radius: @input-radius;
            border-bottom-left-radius: @input-radius;
        }

        &:last-child {
            border-top-right-radius: @input-radius;
            border-bottom-right-radius: @input-radius;
            border-right: 1px solid @border-color;
        }
    }
}

.input-reactor {
    position: relative;

    .reactor-meter {
        line-height: 20px;
        background-color: @bg-color2;
        border: 1px solid @border-color;
        border-radius: @input-radius;
        padding: 0 3px;
    }

    .reactor-edit-icon {
        position: absolute;
        fill: @text-color3;
        width: 12px;
        height: 12px;
        top: 5px;
        right: -20px;

        &:hover {
            fill: @text-color1;
        }
    }
}

.input-box {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid lighten(@color1, 10%);

    .input-box-center {
        position: absolute;
        cursor: move;
        width: 100%;
        height: 100%;
    }

    .input-box-top {
        position: absolute;
        cursor: ns-resize;
        width: 100%;
        height: 10px;
        top: -5px;
    }

    .input-box-right {
        position: absolute;
        cursor: ew-resize;
        width: 10px;
        height: 100%;
        right: -5px;
    }

    .input-box-bottom {
        position: absolute;
        cursor: ns-resize;
        width: 100%;
        height: 10px;
        bottom: -5px;
    }

    .input-box-left {
        position: absolute;
        cursor: ew-resize;
        width: 10px;
        height: 100%;
        left: -5px;
    }
}