.input {
    display: inline-block;
    vertical-align: middle;
}

.input-field {
    font-family: @font-family;
    font-size: @input-font-size;
    color: @input-font-color;
    line-height: 20px;
    background-color: @input-bg-color;
    border: 1px solid @input-border-color;
    border-radius: 2px;
    padding: 0 3px;
    outline: none;

    &:focus {
        border: 1px solid @base-color;
    }

    &:read-only {
        color: @input-readonly-color;
    }
}

.input-hidden {
    color: transparent !important;
    -webkit-user-select: none;
}

.input-select {
    display: inline-block;
    position: relative;

    .input-field {
        color: @input-font-color;
    }

    &:after {
        content: "\0020";
        transform: rotate(135deg);
        position: absolute;
        top: 7px;
        right: 7px;
        height: 5px;
        width: 5px;
        border-top: 1px solid @base-color;
        border-right: 1px solid @base-color;
        pointer-events: none;
    }
}

.input-options {
    position: absolute;
    top: 22px;
    z-index: 100;
    list-style: none;

    .input-option {
        font-size: @font-small;
        padding: 5px;
        min-width: 100px;
        background-color: @input-bg-color;

        &:hover {
            cursor: default;
            background-color: @base-color;
        }
    }
}

.input-color {
    &::-webkit-color-swatch-wrapper {
    }

    &::-webkit-color-swatch {
        border: 0;
    }
}

.input-color-range {
    .flex-box(row, flex-start, center, stretch);

    .color-range {
        position: relative;
        height: 16px;
        border: 1px solid @input-border-color;
        border-radius: 3px;
    }
}

.input-range {
    position: relative;
    height: 20px;

    .track {
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: @input-range-bg-color;
        .absolute-center();
    }

    .fill {
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background: @base-color;
        .absolute-left();
    }

    .range {
        background-color: transparent;
        .absolute-center();
    }
}

.input-toggle {
    position: relative;
    height: 17px;
    width: 32px;
    border-radius: 17px;
    background-color: @input-bg-color;
    border: 1px solid @input-border-color;
    cursor: pointer;
    transition: background-color 0.25s;

    &:before {
        content: "\0020";
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: @input-toggle-button-bg-color;
        border: 1px solid @input-toggle-border-color;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        transition: left 0.25s;
        .absolute-left();
    }
}

.input-toggle-on {
    background-color: @base-color;

    &:before {
        left: 15px;
    }
}

.input-image {
    height: 100px;
    width: 100px;
    background-color: @input-bg-color;
    border: 1px solid @input-border-color;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .portrait {
        width: 100%;
        height: auto;
    }

    .landscape {
        width: auto;
        height: 100%;
    }

    .image {
        width: 100%;
        height: auto;
        .absolute-center();
    }
}

.input-image-delete {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: @base-color;
    }
}

.input-link {
    margin-left: 8px;
    color: @input-link-color;
    cursor: pointer;
}

.input-link-on {
    color: @input-link-on-color;
}

.input-file {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 1;
}
