.layers-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.layers {
    flex: 1;
    overflow: auto;
    margin-bottom: 6px;

    .layer {
        font-size: @font-small;
        background-color: @bg-color3;
        border-bottom: 1px solid @border-color;
        margin: 0 5px;
        padding: 5px;
        position: relative;
        cursor: default;

        .input {
            display: inline-block;
        }

        .icon {
            fill: @text-color1;
            width: 12px;
            height: 12px;
            margin-right: 8px;
        }

        .options-icon {
            position: absolute;
            fill: @text-color1;
            width: 12px;
            height: 12px;
            right: 8px;

            &.disabled {
                opacity: .3;
            }
        }

        &.active {
            background-color: @color1;
        }

        &.edit {
            background-color: @bg-color3;
        }

        &.child {
            padding-left: 20px;
        }

        &.fx {
            padding-left: 30px;
        }

        &:after {
            content: "\00a0";
        }

        &:first-child {
            border-top: 1px solid @border-color;
        }
    }
}