.layer {
    font-size: @font-small;
    background-color: @bg-level2-color;
    border-bottom: 1px solid @border-color;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    cursor: default;

    &:after {
        content: "\00a0";
    }

    &:first-child {
        border-top: 1px solid @border-color;
    }
}

.layer-active {
    background-color: @base-color;

    .layer-edit {
        color: @text-color;
    }
}

.layer-edit {
    color: @base-color;
    line-height: 20px;
    padding-right: 10px;
    .absolute-right();
}
