.layers-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .layers {
        flex: 1;
        overflow: auto;
        margin-bottom: 6px;

        .layer {
            font-size: @font-small;
            background-color: @bg-level2-color;
            border-bottom: 1px solid @border-color;
            margin: 0 5px;
            padding: 5px;
            position: relative;
            cursor: default;

            &:after {
                content: "\00a0";
            }

            &:first-child {
                border-top: 1px solid @border-color;
            }
        }

        .layer-active {
            background-color: @base-color;
        }

        .layer-edit {
            background-color: @bg-level2-color;
        }

        .layer-control {
            padding-left: 20px;
        }

        .layer-fx {
            padding-left: 30px;
        }

        .layer-icon {
            margin-right: 8px;
        }

        .layer-options-icon {
            position: absolute;
            right: 8px;
        }

        .layer-disabled {
            opacity: .3;
        }
    }
}