.menubar {
    font-family: @font-family;
    font-size: @font-normal;
    color: @menubar-text-color;
    background-color: @menubar-bg-color;
    padding-left: 20px;
    height: 20px;

    .menubar-item {
        display: inline-block;
        position: relative;
    }

    .menubar-text {
        line-height: 20px;
        vertical-align: middle;
        padding: 0 8px;
        z-index: 2;
        position: relative;

        &:hover {
            cursor: default;
            color: @base-color;
        }
    }

    .menubar-text-active {
        color: @base-color;
        background-color: @menubar-active-bg-color;
    }

    .menu {
        position: absolute;
        top: 20px;
        left: 0;
        list-style: none;
        z-index: 400;
        background-color: @menu-bg-color;
        border: 1px solid @menu-border-color;
        overflow: hidden;

        .menu-item {
            position: relative;
            display: block;
            font-size: @font-small;
            padding: 5px 5px 5px 20px;
            min-width: 140px;

            &:hover {
                color: @text-color;
                background-color: @base-color;
                cursor: default;
            }
        }

        .checked:before {
            content: "\2713";
            color: @base-color;
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .checked:hover:before {
            color: @text-color;
        }

        .begin-group:before {
            content: "\0020";
            border-top: 1px solid @menu-group-border-color;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}