.menubar {
    font-size: @font-normal;
    color: @text-level1-color;
    background-color: @bg-level2-color;
    padding-left: 20px;
    height: 20px;
    position: relative;

    &>.item {
        display: inline-block;
        position: relative;
    }

    .text {
        line-height: 20px;
        vertical-align: middle;
        padding: 0 8px;
        position: relative;

        &.active {
            color: @base-color;
            background-color: darken(@bg-level2-color, 6%);
        }

        &:hover {
            cursor: default;
            color: @base-color;
        }
    }

    .menu {
        position: absolute;
        top: 20px;
        left: 0;
        list-style: none;
        z-index: 1;
        background-color: darken(@bg-level2-color, 6%);
        border: 1px solid darken(@border-color, 6%);
        overflow: hidden;

        &>.item {
            position: relative;
            display: block;
            font-size: @font-small;
            padding: 5px 5px 5px 20px;
            min-width: 140px;

            &:hover {
                color: @text-color;
                background-color: @base-color;
                cursor: default;
            }
        }

        .separator {
            padding: 5px;

            &:after {
                content: "\0020";
                border-top: 1px solid @base-color;
                display: block;
            }

            &:hover {
                background-color: transparent;
            }
        }

        .checked:before {
            content: "\2713";
            color: @base-color;
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .checked:hover:before {
            color: @text-color;
        }

        .disabled {
            color: @text-level2-color;
        }

        .disabled:hover {
            color: @text-level2-color;
            background-color: transparent;
        }
    }
}