.modal-window {
    min-width: 400px;
    min-height: 300px;

    .header {
        position: relative;
        background-color: @modal-header-bg-color;
        padding: 10px;
        text-align: center;
        letter-spacing: 2px;
    }

    .body {
        min-height: 100px;
        padding: 10px;
        background-color: @modal-bg-color;
    }

    .buttons {
        background-color: @modal-bg-color;
        text-align: center;
        padding: 10px;
    }

    .button {
        display: inline-block;
        background-color: @base-color;
        padding: 8px 10px;
        border-radius: 3px;
        margin-left: 10px;
        cursor: pointer;
    }

    .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}