.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;

    &:before {
        content: "\0020";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
    }
}

.modal-window {
    position: relative;
    margin: auto;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.5);

    &>.header {
        position: relative;
        background-color: @bg-color2;
        padding: 10px;
        text-align: center;
        letter-spacing: 2px;
        min-height: 32px;
        cursor: default;
    }

    &>.body {
        position: relative;
        min-height: 100px;
        background-color: @bg-color1;
        display: flex;
        flex-direction: column;
    }

    &>.buttons {
        background-color: @bg-color1;
        text-align: center;

        .button {
            margin: 10px 5px;
        }
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        line-height: 24px;
        height: 24px;
        width: 24px;
        text-align: center;
        letter-spacing: 0;
        z-index: 1;

        &:hover {
            color: darken(@text-color1, 10%);
            background-color: @color1;
        }
    }

    .dialog {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 20px;
        max-width: 600px;
        cursor: default;
        width: 100%;

        .icon {
            font-size: 48px;
            margin-right: 20px;
        }

        .message {
            flex: 1;
        }
    }
}


.overlay-enter {
    &:before {
        opacity: 0;
    }

    .modal-window {
        opacity: 0;
        transform: perspective(800px) scale(0.7) rotateX(-90deg);
        transform-style: preserve-3d;
    }
}

.overlay-enter-active {
    &:before {
        opacity: 0.5;
        transition: opacity .3s ease-out;
    }

    .modal-window {
        opacity: 1;
        transform: none;
        transition: all .3s;
    }
}

.overlay-exit {
    &:before {
        opacity: 0.5;
    }

    .modal-window {
        opacity: 1;
        transform: none;
    }
}

.overlay-exit-active {
    &:before {
        opacity: 0;
        transition: opacity .3s ease-in;
    }

    .modal-window {
        opacity: 0;
        box-shadow: none;
        transform: perspective(800px) scale(0.7) rotateX(-90deg);
        transform-style: preserve-3d;
        transition: all .3s;
    }
}