.modal-window {
    min-width: 400px;

    .header {
        background-color: #323232;
        padding: 10px;
        text-align: center;
        letter-spacing: 2px;
    }

    .body {
        min-height: 100px;
        padding: 10px;
        background-color: #434343;
    }

    .buttons {
        background-color: #434343;
        text-align: center;
        padding: 10px;
    }

    .button {
        display: inline-block;
        background-color: @primary-color;
        padding: 8px 10px;
        border-radius: 3px;
        margin-left: 10px;
        cursor: pointer;
    }
}