.modal-window {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    .header {
        position: relative;
        background-color: @bg-level1-color;
        padding: 10px;
        text-align: center;
        letter-spacing: 2px;
    }

    .body {
        position: relative;
        min-height: 100px;
        background-color: @bg-color;
        display: flex;
    }

    .buttons {
        background-color: @bg-color;
        text-align: center;
    }

    .button {
        display: inline-block;
        background-color: @base-color;
        padding: 8px 10px;
        border-radius: 3px;
        margin: 10px 5px;
        cursor: default;

        &:hover {
            background-color: lighten(@base-color, 3%);
        }
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        line-height: 24px;
        height: 24px;
        width: 24px;
        text-align: center;
        letter-spacing: 0;

        &:hover {
            color: darken(@text-color, 10%);
            background-color: @base-color;
        }
    }

    .message {
        margin: auto;
        padding: 20px;
    }
}