.oscilloscope {
    min-width: 900px;
    position: relative;
    padding: 5px 0;

    canvas {
        display: block;
        margin: 0 auto;
        //box-shadow: inset 5px 5px 40px rgba(0,0,0,0.5);
    }
}