.panel {
    display: flex;
    position: relative;

    .title {
        font-size: @font-small;
        height: 24px;
        line-height: 24px;
        margin-left: 10px;
        color: @text-level1-color;
        cursor: default;
        flex-shrink: 0;
    }

    .action-panel {
        padding: 5px;
        width: 100%;
        background-color: @bg-color;
        border-top: 1px solid @border-top-color;
        border-bottom: 1px solid @border-bottom-color;
        overflow: hidden;
        flex-shrink: 0;
    }
}
