.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
        font-size: @font-small;
        height: 24px;
        line-height: 24px;
        margin-left: 10px;
        color: @text-level1-color;
        cursor: default;
    }

    .btn-group {
        padding: 5px;
        width: 100%;
        background-color: @control-bg-color;
        border-top: 1px solid @control-top-border-color;
        border-bottom: 1px solid @control-bottom-border-color;

        .btn {
            color: @text-color;
            width: 20px;
            line-height: 20px;
            margin-right: 5px;
            text-align: center;
            border: 1px solid @input-border-color;
            background-color: @input-bg-color;
            border-radius: 2px;
            display: inline-block;
            cursor: pointer;
        }

        .btn:hover {
            background-color: @base-color;
        }
    }
}
