.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
        font-size: @font-small;
        height: 24px;
        line-height: 24px;
        margin-left: 10px;
        color: @text-level1-color;
        cursor: default;
    }

    .btn-group {
        padding: 5px;
        width: 100%;
        background-color: @bg-color;
        border-top: 1px solid @border-top-color;
        border-bottom: 1px solid @border-bottom-color;

        .btn {
            color: @text-color;
            padding: 0 5px;
            line-height: 20px;
            margin-right: 5px;
            text-align: center;
            border: 1px solid @border-color;
            background-color: @bg-level1-color;
            border-radius: 2px;
            display: inline-block;
        }

        .btn:hover {
            background-color: @base-color;
        }

        .btn-disabled {
            color: darken(@text-color, 60%);
        }

        .btn-disabled:hover {
            background-color: @bg-level1-color;
        }
    }
}
