.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 500px;
    overflow: hidden;
    padding: 10px 20px;
    background-color: @bg-color5;
    border-top: 1px solid lighten(@bg-color5, 6%);

    .buttons {
        margin-right: 20px;
    }

    .button {
        color: @text-color1;
        background-color: transparent;
        padding: 0;
        margin: 0 2px 0 0;
        display: inline-block;
        flex-wrap: nowrap;
        border: 2px solid lighten(@bg-color2, 10%);
        height: 40px;
        width: 40px;
        border-radius: 20px;
        line-height: 36px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.2s;

        &:hover {
            border: 2px solid @color1;
        }

        &:active {
            border-color: @text-color1;
        }
    }

    .play-button {
        font-size: 24px;
        position: relative;

        .icon-play {
            font-size: 34px;
            margin-left: 4px;
        }
    }

    .stop-button {
        font-size: 24px;
    }

    .loop-button {
        font-size: 20px;
        line-height: 36px;
        color: @bg-color2;
    }

    .loop-button-on {
        color: @color1;
        line-height: 30px;
    }

    .volume {
        display: flex;
        margin-right: 20px;

        .slider {
            display: flex;
            align-items: center;
            width: 100px;
            margin-right: 8px;
        }

        .speaker {
            display: flex;
            align-items: center;
            font-size: 20px;
            line-height: 36px;
        }
    }

    .progress {
        display: flex;
        align-items: center;
        margin-right: 20px;
        flex: 1;
    }

    .time-info {
        line-height: 36px;
        margin-right: 20px;

        .time-part {
            vertical-align: middle;
        }

        .current-time {
            color: @text-color1;
        }

        .total-time {
            color: @text-color2;
        }

        .split {
            display: inline-block;
            height: 30px;
            border-right: 1px solid @color1;
            margin: 0 8px;
            transform: rotate(20deg);
        }

        &:hover {
            cursor: default;
        }
    }
}