@loading-light-color: @base-color;
@loading-dark-color: hardlight(@base-color, @bg-level3-color);

.scene {
    min-width: 900px;
    overflow: hidden;
    flex: 1;
    position: relative;

    .canvas {
        background-color: #000;
        width: 854px;
        height: 480px;
        display: block;
        overflow: hidden;
        .absolute-center();
    }

    .loading {
        width: 100px;
        height: 100px;
        content: '';
        opacity: .5;
        z-index: 100;
        box-shadow: 0 0 5px @base-color, inset 0 0 5px @base-color;

        border-top: 3px solid @loading-dark-color;
        border-bottom: 3px solid @loading-light-color;
        border-left: 3px solid @loading-dark-color;
        border-right: 3px solid @loading-light-color;
        border-radius: 100%;

        .absolute-center();
        .animation(rotate .3s linear infinite);
    }
}