.settings-panel {
    display: flex;
    flex-direction: column;

    .buttons {
        border-top: 1px solid @bg-level1-color;
        text-align: center;
    }
}

.settings {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .group {
        margin-bottom: 16px;

        .name {
            position: relative;
            color: @text-level1-color;
            font-weight: bold;
            padding-bottom: 12px;
            margin-bottom: 12px;
            width: 100%;
            cursor: default;

            &:after {
                content: "\0020";
                border-top: 1px solid lighten(@border-bottom-color, 6%);
                border-bottom: 1px solid darken(@border-top-color, 8%);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .row {
        display: flex;
        margin-bottom: 16px;
        font-size: 11px;

        .label {
            width: 40%;
            margin-right: 20px;
        }

        .input {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}