.spectrum {
    min-width: 900px;
    position: relative;
    background-color: @bg-color5;
    padding-bottom: 10px;

    .canvas {
        display: block;
        margin: 0 auto;
        box-shadow: inset 0 0 40px rgba(0,0,0,0.5);
    }
}