.splitter {
    color: @text-level1-color;
    background-color: @splitter-bg-color;
}

.splitter-horizontal {
    height: 5px;
    line-height: 5px;
    text-align: center;
    width: 100%;
    cursor: ns-resize;
}

.splitter-vertical {
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}