@loading-light-color: @base-color;
@loading-dark-color: hardlight(@base-color, @bg-level3-color);
@loading-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);

.stage {
    display: flex;
    flex: 1;
    min-width: 900px;
    overflow: hidden;
    position: relative;

    canvas {
        margin: auto;
        background-color: #000;
    }

    .loading {
        margin: auto;
        width: 100px;
        height: 100px;
        border-top: 3px solid @loading-dark-color;
        border-bottom: 3px solid @loading-light-color;
        border-left: 3px solid @loading-dark-color;
        border-right: 3px solid @loading-light-color;
        border-radius: 100%;
        .absolute-center();
        .animation(rotate .3s linear infinite);
    }
}