.stage {
    display: flex;
    flex: 1;
    min-width: 900px;
    overflow: hidden;
    position: relative;

    .canvas {
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    }

    .loading {
        width: 100px;
        height: 100px;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
        border-bottom: 3px solid @color1;
        border-right: 3px solid @color1;
        border-radius: 100%;
        .absolute-center();
        .animation(rotate .3s linear infinite);
    }

    .loading-enter {
        opacity: 0;
        width: 200px;
        height: 200px;
    }

    .loading-enter-active {
        opacity: 1;
        width: 100px;
        height: 100px;
        transition: all .3s ease-in;
    }

    .loading-leave {
        opacity: 1;
        width: 100px;
        height: 100px;
    }

    .loading-leave-active {
        opacity: 0;
        width: 200px;
        height: 200px;
        transition: all .3s ease-out;
    }

    .render-info {
        background-color: @bg-color5;

        .render-progress {
            background-color: @bg-color3;

            .render-progress-bar {
                height: 5px;
                background-color: @color1;
            }
        }

        .render-stats {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;

            .label {
                color: @text-color2;
                margin-right: 8px;
            }

            .info {
                color: @text-color1;
            }
        }


    }
}

.stage-rendering {
    .canvas {
        z-index: 100;
        box-shadow: 0px 5px 40px rgba(0,0,0,0.5);
    }
}