.tab-panel {
    display: flex;
    flex: 1;

    .tabs {
        .tab {
            text-align: center;
            list-style: none;
            padding: 8px 16px;
            cursor: default;
        }

        .tab-active {
            background-color: @color1;
        }
    }

    .tabs-horizontal {
        display: flex;
        flex-direction: row;
    }

    .tab-view {
        width: 100%;
        overflow: auto;
    }
}

.tab-position-top {
    flex-direction: column;

    .tabs {
        border-bottom: 1px solid @bg-color2;
    }
}

.tab-position-bottom
{
    flex-direction: column;

    .tabs {
        order: 99;
        border-top: 1px solid @bg-color2;
    }
}

.tab-position-left {
    flex-direction: row;

    .tabs {
        width: 160px;
        border-right: 1px solid @bg-color2;
    }
}

.tab-position-right
{
    flex-direction: row;

    .tabs {
        order: 99;
        width: 160px;
        border-left: 1px solid @bg-color2;
    }
}