.titlebar {
    height: 40px;
    background-color: @bg-color2;

    .title {
        font-size: @font-normal;
        color: @text-color2;
        line-height: 30px;
        letter-spacing: 5px;
        text-align: center;
        cursor: default;
        margin: 5px 5px 0 5px;
        -webkit-app-region: drag;
    }

    .icon {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .window-buttons {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 0;
        -webkit-app-region: no-drag;

        &>.button {
            display: inline-block;
            color: @text-color1;
            background-color: @bg-color2;
            font-size: 11px;
            margin: 0;
            padding: 0;
            width: 40px;
            text-align: center;
            line-height: 25px;
            border-radius: 0;

            &:hover {
                background-color: @color1;
            }
        }
    }
}