.window-buttons {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 0;
    background-color: @bg-level1-color;
    -webkit-app-region: no-drag;

    .button {
        display: inline-block;
        color: @text-color;
        font-size: 14px;
        width: 30px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid @border-color;
        border-bottom: 1px solid @border-color;

        &:first-child {
            border-left: 1px solid @border-color;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-bottom-right-radius: 5px;
        }

        &:hover {
            background-color: @base-color;
        }
    }
}