@import (reference) "~styles/index.less";

.icon {
    display: inline-flex;
    align-self: center;
    position: relative;

    svg {
        fill: @text-color1;
        width: 24px;
        height: 24px;
    }
}