@import (reference) "~styles/index.less";

.icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    color: @text-color1;
    width: 24px;
    height: 24px;

    svg {
        color: inherit;
        fill: currentColor;
        width: inherit;
        height: inherit;
    }
}
