@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/abel.woff2) format('woff2');
}

@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/abril-fatface.woff2) format('woff2');
}

@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bangers.woff2) format('woff2');
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/cardo.woff2) format('woff2');
}

@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/caveat.woff2) format('woff2');
}

@font-face {
    font-family: 'Chunkfive';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/chunkfive.woff2) format('woff2');
}

@font-face {
    font-family: 'Dynalight';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/dynalight.woff2) format('woff2');
}

@font-face {
    font-family: 'Intro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/intro.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/merriweather.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/playfair-display.woff2) format('woff2');
}

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/permanent-marker.woff2) format('woff2');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/oswald.woff2) format('woff2');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/oxygen.woff2) format('woff2');
}

@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/racing-sans-one.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/raleway.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto.woff2) format('woff2');
}

@font-face {
    font-family: 'Vast Shadow';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/vast-shadow.woff2) format('woff2');
}