:global {
  #app {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
  }

  .darwin {
    .titlebar {
      border-bottom: 2px solid @bg-color3;

      .icon {
        display: none;
      }

      .windowButtons {
        display: none;
      }
    }

    .menuBar {
      display: none;
    }
  }
}
