.darwin {
    .titlebar {
        border-bottom: 2px solid @bg-color3;

        .icon {
            display: none;
        }

        .windowButtons {
            display: none;
        }
    }

    .menuBar {
        display: none;
    }
}