<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-eval'; script-src * data:; img-src * data:; frame-src *.astrofox.io astrofox.io"
    />
    <title>Astrofox</title>
    <link rel="preload" href="fonts/roboto.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="images/about_bg.jpg" as="image" />
    <link rel="stylesheet" href="fonts.css" />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div id="app"></div>
    <script src="app.js"></script>
  </body>
</html>
