@font-face {
  font-family: 'fontello';
  src: url('../font/fontello/fontello.woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31274585#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  /* speak: none; */
 
  display: inline-block;
  text-decoration: inherit;
  /* width: 1em; */
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before { content: '\e800'; } /* 'î €' */
.icon-stop:before { content: '\e801'; } /* 'î ' */
.icon-pause:before { content: '\e802'; } /* 'î ‚' */
.icon-popup:before { content: '\e803'; } /* 'î ƒ' */
.icon-minus:before { content: '\e804'; } /* 'î „' */
.icon-cancel:before { content: '\e805'; } /* 'î …' */
.icon-plus:before { content: '\e806'; } /* 'î †' */
.icon-loop:before { content: '\e807'; } /* 'î ‡' */
.icon-resize-full:before { content: '\e808'; } /* 'î ˆ' */
.icon-record:before { content: '\e809'; } /* 'î ‰' */
.icon-arrows-ccw:before { content: '\e80a'; } /* 'î Š' */
.icon-cog:before { content: '\e80b'; } /* 'î ‹' */
.icon-lock:before { content: '\e80c'; } /* 'î Œ' */
.icon-lock-open:before { content: '\e80d'; } /* 'î ' */
.icon-link:before { content: '\e80e'; } /* 'î Ž' */
.icon-menu:before { content: '\e80f'; } /* 'î ' */
.icon-back:before { content: '\e810'; } /* 'î ' */
.icon-folder:before { content: '\e811'; } /* 'î ‘' */
.icon-window:before { content: '\e812'; } /* 'î ’' */
.icon-dot-3:before { content: '\e813'; } /* 'î “' */
.icon-code:before { content: '\e814'; } /* 'î ”' */
.icon-check:before { content: '\e815'; } /* 'î •' */
.icon-help-circled:before { content: '\e816'; } /* 'î –' */
.icon-cw:before { content: '\e817'; } /* 'î —' */
.icon-cancel-circled:before { content: '\e818'; } /* 'î ˜' */
.icon-attention:before { content: '\e819'; } /* 'î ™' */
.icon-export:before { content: '\e81a'; } /* 'î š' */
.icon-trash:before { content: '\e81b'; } /* 'î ›' */
.icon-font:before { content: '\e81c'; } /* 'î œ' */
.icon-floppy:before { content: '\e81d'; } /* 'î ' */
.icon-cube:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-plus-squared:before { content: '\e820'; } /* 'î  ' */
.icon-minus-squared:before { content: '\e821'; } /* 'î ¡' */