@font-face {
    font-family: 'icons';
    src: url('../fonts/icons/icons.eot'),
        url('../fonts/icons/icons.woff') format('woff'),
        url('../fonts/icons/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-adjust:before { content: "\EA01" }
.icon-arrows-cw:before { content: "\EA02" }
.icon-bar-graph:before { content: "\EA03" }
.icon-block:before { content: "\EA04" }
.icon-ccw:before { content: "\EA05" }
.icon-chevron-down:before { content: "\EA06" }
.icon-chevron-up:before { content: "\EA07" }
.icon-circle-with-cross:before { content: "\EA08" }
.icon-circle:before { content: "\EA09" }
.icon-cloud:before { content: "\EA0A" }
.icon-code:before { content: "\EA0B" }
.icon-cog:before { content: "\EA0C" }
.icon-crop:before { content: "\EA0D" }
.icon-cross:before { content: "\EA0E" }
.icon-cube:before { content: "\EA0F" }
.icon-cw:before { content: "\EA10" }
.icon-cycle:before { content: "\EA11" }
.icon-document-landscape:before { content: "\EA12" }
.icon-dots-three-horizontal:before { content: "\EA13" }
.icon-download:before { content: "\EA14" }
.icon-edit:before { content: "\EA15" }
.icon-flash:before { content: "\EA16" }
.icon-flashlight:before { content: "\EA17" }
.icon-folder-open-empty:before { content: "\EA18" }
.icon-hand:before { content: "\EA19" }
.icon-help-with-circle:before { content: "\EA1A" }
.icon-light-up:before { content: "\EA1B" }
.icon-light:before { content: "\EA1C" }
.icon-lightbulb:before { content: "\EA1D" }
.icon-link:before { content: "\EA1E" }
.icon-lock-open:before { content: "\EA1F" }
.icon-lock:before { content: "\EA20" }
.icon-menu:before { content: "\EA21" }
.icon-minus:before { content: "\EA22" }
.icon-move:before { content: "\EA23" }
.icon-music:before { content: "\EA24" }
.icon-pause:before { content: "\EA25" }
.icon-pencil:before { content: "\EA26" }
.icon-picture:before { content: "\EA27" }
.icon-play:before { content: "\EA28" }
.icon-plus:before { content: "\EA29" }
.icon-puzzle:before { content: "\EA2A" }
.icon-recorx:before { content: "\EA2B" }
.icon-refresh:before { content: "\EA2C" }
.icon-retweet:before { content: "\EA2D" }
.icon-search:before { content: "\EA2E" }
.icon-selection:before { content: "\EA2F" }
.icon-soundwave:before { content: "\EA30" }
.icon-square:before { content: "\EA31" }
.icon-stop:before { content: "\EA32" }
.icon-trash-empty:before { content: "\EA33" }
.icon-trash:before { content: "\EA34" }
.icon-trashcan:before { content: "\EA35" }
.icon-video:before { content: "\EA36" }
.icon-videocam:before { content: "\EA37" }
.icon-volume:before { content: "\EA38" }
.icon-volume2:before { content: "\EA39" }
.icon-volume3:before { content: "\EA3A" }
.icon-volume4:before { content: "\EA3B" }
.icon-wave:before { content: "\EA3C" }
