@import (reference) '~styles/variables';

.control {
  background-color: @bg-color1;
  border-top: 1px solid @border-color-top;
  border-bottom: 1px solid @border-color-bottom;
  padding-bottom: 16px;
}

.header {
  padding-left: 8px;
  margin-bottom: 10px;
  cursor: default;
  position: relative;
}

.text {
  font-size: @font-smaller;
  color: @text-color2;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 darken(@text-color2, 50%);
  line-height: 20px;
  overflow: hidden;
}

.displayName {
  position: absolute;
  right: 10px;
  width: 150px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: @font-smaller;
  line-height: 20px;
  color: @text-color3;
  text-shadow: 1px 1px 0 darken(@text-color3, 50%);
}

.active {
  border-top: 1px solid @color1;
}
