@import (reference) 'view/styles/variables';

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  margin: 0 10px;
  position: relative;
  font-size: @font-small;
  color: @text-color1;
  line-height: 20px;

  > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:after {
    content: '\0020';
    border-top: 1px solid lighten(@border-color-bottom, 6%);
    border-bottom: 1px solid darken(@border-color-top, 8%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.label {
  display: inline-block;
  text-align: right;
  cursor: default;
  min-width: 100px;
}

.linkIcon {
  margin-left: 8px;
  color: darken(@text-color1, 50%);
  width: 12px;
  height: 12px;
}

.linkIconActive {
  color: @text-color1;
}
