@import (reference) 'view/styles/variables';

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  margin: 0 10px;
  position: relative;
  font-size: @font-size-small;
  color: @color-text300;
  line-height: 20px;

  > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.label {
  display: inline-block;
  margin-left: 20px;
  cursor: default;
  min-width: 100px;
}

.linkIcon {
  margin-left: 8px;
  color: @color-text500;
  width: 12px;
  height: 12px;
}

.linkIconActive {
  color: @color-text100;
}

.reactorIcon {
  position: absolute;
  margin-left: -5px;
}
