@import (reference) 'view/styles/variables';

.settings {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.label {
  color: @color-text400;
  font-size: @font-size-small;
  text-transform: uppercase;
  margin-bottom: 16px;
}
