@import (reference) 'view/styles/variables';

.setting {
  display: flex;
  margin-bottom: 16px;

  > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.label {
  color: @color-text200;
}

.hidden {
  display: none;
}
