@import (reference) '~styles/index.less';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.viewport {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.preload {
  .hidden();
}
