@import (reference) 'view/styles/variables';

.button {
  display: inline-block;
  background-color: @color-primary100;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: default;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: @color-primary200;
  }

  &.disabled {
    color: @color-text200;
    background-color: @color-gray400;
  }
}
