@import (reference) 'view/styles/variables';

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 500px;
  overflow: hidden;
  padding: 10px 20px;
  background-color: @color-gray75;
  border-top: 1px solid @color-gray200;

  & > div {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hidden {
  display: none;
}
