@import (reference) 'view/styles/variables';

.timeInfo {
  display: flex;
  align-items: center;
  line-height: 36px;
  white-space: nowrap;

  &:hover {
    cursor: default;
  }
}

.currentTime {
  color: @color-text100;
}

.totalTime {
  color: @color-text200;
}

.splitter {
  display: inline-flex;
  height: 30px;
  border-right: 1px solid @color-primary100;
  margin: 0 8px;
  transform: rotate(20deg);
}
