@import (reference) 'view/styles/variables';

.buttons {
  display: flex;
}

.button {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  .icon {
    color: @color-gray300;
    width: 20px;
    height: 20px;

    &:hover {
      color: @color-gray400;
    }
  }
}

.enabled {
  .icon {
    color: @color-primary100;

    &:hover {
      color: @color-primary100;
    }
  }
}
