@import (reference) 'view/styles/variables';

.volume {
  display: flex;
}

.slider {
  display: flex;
  align-items: center;
  width: 100px;
}

.speaker {
  margin-right: 10px;

  .icon {
    color: @text-color1;
    width: 20px;
    height: 20px;
  }
}

.mute {
  .icon {
    color: @text-color3;
  }
}
