@import (reference) '~view/styles/variables';

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;

  &:before {
    content: '\0020';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
  }
}

.modal {
  position: relative;
  margin: auto;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
}

.header {
  position: relative;
  background-color: @bg-color2;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
}

.body {
  position: relative;
  min-height: 100px;
  background-color: @bg-color1;
  display: flex;
  flex-direction: column;
}

.buttons {
  background-color: @bg-color1;
  text-align: center;
  padding: 10px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  text-align: center;
  z-index: 1;

  .closeIcon {
    color: @text-color1;
    width: 14px;
    height: 14px;
    margin-top: 5px;
  }

  &:hover {
    background-color: @color1;
  }
}
