@import (reference) 'view/styles/variables';

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;

  &.focused {
    .button {
      opacity: 1;
    }
  }
}

.button {
  position: relative;
  width: 45px;
  height: 30px;
  text-align: center;
  opacity: 0.7;

  &:hover {
    background-color: @color-primary100;
  }
}

.minimize {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 1px;
    background-color: @color-gray800;
  }
}

.maximize {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border: 1px solid @color-gray800;
  }
}

.restore {
  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 20px;
    width: 10px;
    height: 10px;
    border: 1px solid @color-gray800;
  }
  &:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 16px;
    width: 10px;
    height: 10px;
    border: 1px solid @color-gray800;
    background-color: @color-gray200;
  }

  &:hover:after {
    background-color: @color-primary100;
  }
}

.close {
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: rotate(-45deg) translate(-50%);
    width: 14px;
    height: 1px;
    background-color: @color-gray800;
  }
  &:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: rotate(45deg) translate(-50%);
    width: 14px;
    height: 1px;
    background-color: @color-gray800;
  }
}
