@import (reference) "~styles/index.less";

.renderInfo {
    background-color: @bg-color5;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: "\0020";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        z-index: -1;
    }
}

.progress {
    background-color: @bg-color3;
}

.progressBar {
    height: 5px;
    background-color: @color1;
    transition: width 0.5s ease-out;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.label {
    color: @text-color2;
    margin-right: 8px;
}

.info {
    color: @text-color1;
}