// Base colors
@primary-color: #927FFF;
@secondary-color: #312c59;
//@primary-color: #9595d4;
@primary-text-color: #f0f0f0;
@secondary-text-color: #acacac;
@page-background-color: #222222;
@primary-background-color: #535353;
@primary-border-top: #6a6a6a;
@primary-border-bottom: #222222;
@secondary-background-color: #393939;
@secondary-border-top: #4a4a4a;
@secondary-border-bottom: #222222;

// Fonts
@primary-font: 'Roboto', 'Roboto Condensed', Arial, Helvetica, sans-serif;
@font-small: 11px;
@font-normal: 12px;
@font-large: 16px;

// Elements
@header-background-color: #393939;
@menu-font-color: @secondary-text-color;
@menu-background-color: #2d2d2d;
@dock-background-color: #393939;
@player-background-color: #1e1e1e;
@player-border-color: #333333;

@control-box-background-color: #393939;
@canvas-background-color: #000;
@loading-light-color: @primary-color;
@loading-dark-color: @secondary-color;
@waveform-background-color: #333333;

// Interface
@bar-background-color: @secondary-background-color;
@bar-border-top: @secondary-border-top;
@bar-border-bottom: @secondary-border-bottom;

@control-background-color: #434343;

@input-font-color: @primary-text-color;
@input-background-color: #3a3a3a;
@input-border-color: #222222;

// Misc
@shadow-start-color: #373759;
@shadow-end-color: #54547a;

// Imports
@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);