@import (reference) 'view/styles/variables';

.panel {
  background-color: @bg-color5;
  overflow: hidden;
  z-index: 2;
}

.progress {
  background-color: @bg-color3;
}

.progressBar {
  height: 5px;
  background-color: @color1;
  transition: width 0.5s ease-out;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.label {
  color: @text-color2;
  margin-right: 8px;
}

.info {
  color: @text-color1;
}
