@import (reference) 'view/styles/variables';

.contaainer {
  display: flex;
  flex-direction: column;

  &:first-child {
    border-top: 1px solid @color-gray75;
  }
}

.children {
  display: flex;
  flex-direction: column;
}

.child {
  padding-left: 20px;
}

.hidden {
  display: none;
}
