.dialog {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  cursor: default;
  width: 100%;
}

.icon {
  font-size: 48px;
  margin-right: 20px;
}

.message {
  flex: 1;
}
