@import (reference) 'view/styles/variables';

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.range {
  flex: 1;
  position: relative;
  height: 16px;
  border: 1px solid @input-border-color;
  border-radius: 3px;
  margin: 0 8px;
}
