@import (reference) 'view/styles/variables';
@import (reference) 'view/styles/mixins';

.range {
  position: relative;
  height: 20px;
  width: 100%;
}

.track {
  pointer-events: none;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: lighten(@bg-color2, 10%);
  position: absolute;
  margin: 8px 0;
}

.fill {
  pointer-events: none;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: @color1;
  .position-left();
}

.bar {
  background-color: transparent;
  .position-center();
}

.hidden {
  display: none;
}
