@import (reference) 'view/styles/variables';
@import (reference) 'view/styles/mixins';

.range {
  position: relative;
  height: 20px;
  width: 100%;
}

.track {
  .position-center();
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: @color-gray300;
  pointer-events: none;
}

.fill {
  .position-center-left();
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: @color-primary100;
  pointer-events: none;
}

.hideThumb::-webkit-slider-thumb {
  visibility: hidden;
}

.showThumbOnHover:hover::-webkit-slider-thumb {
  visibility: visible;
}
