@import (reference) 'view/styles/variables';

.icon {
  position: absolute;
  top: 10px;
  color: darken(@text-color1, 50%);
  width: 16px;
  height: 16px;

  &:hover {
    color: @text-color1;
  }
}

.iconActive {
  color: @text-color1;
}
