@import (reference) 'view/styles/variables';

.input {
  composes: text from 'TextInput.less';
  cursor: default;
}

.select {
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    height: 6px;
    width: 6px;
    right: 10px;
    bottom: 12px;
    border-top: 1px solid @input-text-color;
    border-right: 1px solid @input-text-color;
    pointer-events: none;
  }

  .input {
    &.active {
      border-color: @color-primary100;
    }
  }
}

.properties {
  position: absolute;
  top: 100%;
  z-index: 1;
  list-style: none;
  background-color: @input-bg-color;

  &.hidden {
    display: none;
  }
}

.option {
  color: @input-text-color;
  font-size: @font-size-small;
  padding: 5px;
  min-width: 100px;

  &:hover {
    cursor: default;
    color: @color-text100;
    background-color: @color-primary100;
  }
}

.separator {
  height: 5px;

  &:after {
    content: '';
    border-top: 1px solid @color-primary100;
    display: block;
  }

  &:hover {
    background-color: transparent;
  }
}
