@import (reference) 'view/styles/variables';

.input {
  composes: input from 'TextInput.less';
  cursor: default;
}

.select {
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    height: 6px;
    width: 6px;
    right: 10px;
    bottom: 12px;
    border-top: 1px solid @input-text-color;
    border-right: 1px solid @input-text-color;
    pointer-events: none;
  }

  .input {
    &.active {
      border-color: @color-primary100;
    }
  }
}

.options {
  position: absolute;
  top: 100%;
  z-index: @z-index-above;
  list-style: none;
  background-color: @input-bg-color;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  &.hidden {
    display: none;
  }
}

.option {
  color: @input-text-color;
  font-size: @font-size-small;
  line-height: 24px;
  padding: 0 6px;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    cursor: default;
    color: @color-text100;
    background-color: @color-primary100;
  }
}

.separator {
  position: relative;
  height: 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    right: 6px;
    bottom: 0;
    margin: auto;
    height: 1px;
    background-color: @color-primary100;
  }

  &:hover {
    background-color: transparent;
  }
}
