@import (reference) 'view/styles/variables';

.text {
  font-size: @font-size-small;
  color: @input-text-color;
  background-color: @input-bg-color;
  border: 1px solid @input-border-color;
  border-radius: 2px;
  line-height: 24px;
  padding: 0 6px;
  outline: none;

  &:focus {
    border: 1px solid @color-primary100;
  }

  &:read-only {
    border-color: @input-border-color;
  }

  &:disabled {
    color: @color-text400;
    border-color: @input-border-color;
  }
}
