@import (reference) '~view/styles/variables';
@import (reference) '~view/styles/mixins';

.toggle {
  display: flex;
}

.input {
  position: relative;
  height: 17px;
  width: 32px;
  border-radius: 17px;
  background-color: @bg-color2;
  border: 1px solid @border-color;
  transition: background-color 0.25s;
  order: 1;

  &:before {
    content: '\0020';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: @text-color1;
    border: 1px solid lighten(@border-color, 20%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: left 0.25s;
    .position-left();
  }
}

.label {
  display: inline-block;
}

.left {
  order: 0;
  margin-right: 8px;
}

.right {
  order: 2;
  margin-left: 8px;
}

.on {
  background-color: @color1;

  &:before {
    left: 15px;
  }
}
