@import (reference) 'view/styles/variables';
@import (reference) 'view/styles/mixins';

.toggle {
  display: flex;
}

.input {
  position: relative;
  height: 17px;
  width: 32px;
  border-radius: 17px;
  background-color: @input-bg-color;
  border: 1px solid @input-bg-color;
  transition: background-color 0.25s;
  order: 1;

  &:before {
    .position-center-left();
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: @color-text100;
    border: 1px solid @input-border-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: left 0.25s;
  }
}

.label {
  display: inline-block;
}

.left {
  order: 0;
  margin-right: 8px;
}

.right {
  order: 2;
  margin-left: 8px;
}

.on {
  background-color: @color-primary100;

  &:before {
    left: 15px;
  }
}
