@import (reference) 'view/styles/variables';

.buttons {
  display: flex;
  padding: 5px;
  width: 100%;
  background-color: @color-gray75;
  border-top: 1px solid @color-gray300;
  border-bottom: 1px solid @color-gray50;
  overflow: hidden;

  & > * {
    margin-right: 5px;
  }
}
