@import (reference) '~view/styles/variables';

.buttons {
  display: flex;
  padding: 5px;
  width: 100%;
  background-color: @bg-color1;
  border-top: 1px solid @border-color-top;
  border-bottom: 1px solid @border-color-bottom;
  overflow: hidden;
}
