.container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.grow {
  flex: 1;
}

.full {
  width: 100%;
  height: 100%;
}
