@import (reference) 'view/styles/variables';

.panel {
  display: flex;
  flex-direction: column;
}

.settings {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 1 0 auto;
}

.group {
  margin-bottom: 24px;
}

.name {
  position: relative;
  color: @color-text200;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 12px;
  width: 100%;
  cursor: default;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.row {
  display: flex;
  margin-bottom: 16px;
  font-size: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  width: 50%;
  margin-right: 20px;
}

.label {
  color: @color-text100;
  margin-bottom: 3px;
}

.description {
  color: @color-text200;
  align-self: flex-end;
}

.input {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}
