@import (reference) 'view/styles/variables';

.panel {
  display: flex;
  flex: 1;
}

.tab {
  text-align: center;
  list-style: none;
  padding: 8px 16px;
  cursor: default;

  &.active {
    background-color: @color-primary100;
  }
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
  overflow: auto;

  .hidden {
    display: none;
  }
}

.positionTop {
  flex-direction: column;

  .tabs {
    border-bottom: 1px solid @color-gray400;
  }
}

.positionBottom {
  flex-direction: column;

  .tabs {
    order: 99;
    border-top: 1px solid @color-gray400;
  }
}

.positionLeft {
  flex-direction: row;

  .tabs {
    width: 160px;
    border-right: 1px solid @color-gray400;
  }
}

.positionRight {
  flex-direction: row;

  .tabs {
    order: 99;
    width: 160px;
    border-left: 1px solid @color-gray400;
  }
}
